@media(max-width:1100px) {
    #header {
        display: none;
    }
    #main {
        margin-left: 10px;
    }
    .about_container {
        display: block;
    }
}
@media(max-width:900px) {
    .skills_container {
        display: block;
    }
    .personal_skils {
        width: 100%;
    }
    .professional_skills {
        width: 100%;
        margin-top: 50px;
    }
    .project{
        width: 700px;
    }
    .project_img_box{
        height: 400px;
    }
    .project_pic{
        height: 400px;
    }
    .project:hover .project_pic_hover_box {
        height: 500px;
        width: 700px;
        opacity: 1;
    }
    .contact_main {
        display: block;
        padding: 0px 7px;
        padding-bottom: 130px;
    }
    .contact_left {
        width: 100%;
        display: flex;
    }
    iframe{
    margin-top: 50px;        
    }
    .contact_right {
        margin-top: 100px;
        width: 100%;
        padding: 20px 20px;
    }
}

@media(max-width:700px) {
    .main_header {
        margin: 0px;
        width: 100%;
    }
    .main_header .profile h1 {
        font-size: 20px;
    }
    .profile_name a {
        font-size: 30px;
    }
    .nav_menu {
        margin-top: 20px;
    }
    .nav_page_name {
        width: 30%;
    }
    .nav_menu li {
        font-size: 21px;
    }
    .nav_icons {
        font-size: 25px;
    }
    #mobile_nav {
        display: flex;
        z-index: 11111;
    }
    .main_header .profile .profile_social_links {
        gap: 0px 20px;
    }
    #home h1 {
        font-size: 22px;
        margin-right: 10px;
        padding-top: 170px;
    }
    #home {
        background-size: cover;
        background-position: center center;
    }
    #home h1 {
        margin-left: 10px;
        padding: 0px;
        font-size: 25px;
        margin-top: -50px;
        text-align: left;
        text-shadow: 2px -3px 3px orangered;
    }
    #home p {
        text-align: left;
        margin-top: 7px;
        padding-left: 14px;
        font-size: 15px;
        width: 100%;
        font-weight: 500;
        text-shadow: 1px -1px 2px white;
    }
    .scroll-prompt{
        right: 20px;
        bottom: 20px;
    }
    #main {
        display: block;
    }
    .about_title {
        font-size: 22px;
    }
    .about_container_left {
        height: min-content;
    }
    .about_container_right h3 {
        margin-top: 30px;
        font-size: 25px;
    }
    .about_title p {
        font-size: 18px;
    }
    .about_container {
        display: block;
    }
    .about_container_right {
        margin-left: 0px;
    }
    .about_right_row {
        display: block;
        margin-top: 30px;
    }
    #about_right_col_right {
        padding: 0px;
    }
    #facts {
        margin-top: 20px;
    }
    .facts_main_box {
        padding: 50px 25px;
    }
    .facts_main_subbox {
        width: 100%;
        margin-left: 0px;
    }
    .text_box h2 {
        font-size: 30px;
    }
    .text_box p {
        font-size: 25px;
        letter-spacing: 1px;
    }
    .projects {
        gap: 40PX 0PX;
        padding: 0px;
    }
    .skills_container h3 {
        text-align: center;
        width: 100%;
        margin: 0px;
    }
    .project{
        width: 450px;
    }
    .project_img_box{
        height: 300px;
    }
    .project_pic{
        height: 300px;
    }
    .project:hover .project_pic_hover_box {
        height: 300px;
        width: 450px;
        opacity: 1;
    }
    .contact_left{
        display: block;
    }
    .textarea {
        width: 100%;
    }
}